/* Template for all the pages */
.box {
  display: flex;
  justify-content: space-around;
}

.content {
  width: 95%;
  height: 52rem;
  margin: 1em;
  padding: 0.2em 2em;
  text-align: center;
  flex-direction: column;
  border: #3399ff solid 0.09em;
  font-family: Arial;
}

.header,.content
h2,
h4 {
  color: #3399ff;
  text-align: center;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
}

hr {
  width: 70%;
  border: #3399ff solid 0.5px;
}

/* ------------------------------- */
/* ------------------------------- */

/* CSS specific for home.html */
.pagelink {
  padding: 0;
  width: 100%;
  height: 50rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  color: #3399ff;
}

.head1 {
  width: 100%;
  margin-top: 25em;
  height: 6rem;
  font-size: 3.5rem;
  margin: 0;
}
.head2 {
  font-size: 1.5rem;
}
.head3 {
  font-size: 1rem;
  margin-top: 10em;
}
/* ------------------------------- */
/* ------------------------------- */

/* CSS specific for Option_selection.html */

.option {
  margin-top: 5em;
  margin-bottom: 17em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* buttons property only*/

.default_button{
  width: 20%;
  padding: 1em 6em;
  border:0.09em solid #3399ff;
  margin-bottom: 2em;
  background-color: white;
  text-decoration: none;
  color: #3399ff;
}
.unique_button{
  background-color: #3399ff;
  color:white;
}
/* ------------------------------- */

/* CSS specific for administrator_names.html, student_names.html, staff_names.html, visitor_names.html */

.option {
  margin-top: 3em;
}

.option ul {
  list-style: none;
  display: flex;
  box-sizing: content-box;
  flex-direction: column;
  align-items: center;
}

.adminbuttons button {
  margin-top: 3em;
  margin-bottom: 2em;
}

.option ul li {
  width: 30%;
  margin-bottom: 0.4em;
}

.option button {
  width: 100%;
  border: 0.09em solid #3399ff;
  border-radius: 0;
  height: 2.3rem;
  background-color: white;
  color: #3399ff;
}

.option button:hover {
  cursor: pointer;
}

/* visitor_names */
.form {
  margin-top: 15em;
}

.nameinput {
  width: 90%;
  height: 3em;
  color: #3399ff;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: transparent;
}

.subbut {
  width: 60%;
  height: 2.5rem;
  background-color: #3399ff;
  color: midnightblue;
  margin-top: 4em;
  border: none;
  box-shadow: lightskyblue 1em 1em 1em;
}

.subbut:hover {
  cursor: pointer;
}
/* ------------------------------- */

/* CSS specific for actionselection.html */

         /*buttons*/
.buttons{
  margin-top: 5em;
  margin-bottom: 20em;
  
     /* buttons decoration*/
}
.click{
  width: 300px;
  height: 50px;
  margin: 20px;
  background-color: #3399ff;
  color:aliceblue;
  border:none;
  font-size: 15px;
  cursor: pointer;
}
/* ------------------------------- */

/* CSS specific for Request dat off.html */

        /*box2*/

.border2{ 
  width: 35%;
  height: 15em;
  border:#3399ff solid 0.09em;
  justify-content: center;
  margin: 10rem 25rem;
  background-color: #3399ff;
}
       /*input date*/
       
.date{
  padding: 4em 6em;
}
/* ------------------------------- */


/* CSS specific for Other.html */

     /* back arrow */
.fas{
  display: inline-block;
  margin-left: 50px;
  font-size: 40px;
  text-decoration: none;
  color: #3399ff;
}

.kabbee{
  color: #3399ff;
  text-align: center;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
}
/* ------------------------------- */

/* CSS specific for check in section.html */
.check-content {
  width: 60%;
  margin-top: 10em;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-content: center;
  margin-left: 26em;

}
.check-content h4{
  width: 32%;
  height: 0.1rem;
  margin-left: 5em;
  
}
.btn{
width: 50%;
height: 3rem;
background: transparent;
margin-left: 0em;
margin-bottom: 7em;
border-color:#3399ff;
color: #3399ff;

}
.check-content a {
  width: 15%;
  text-decoration: none;
  margin-left: 4em;
  margin-top: 10em;
}
.btn-1{
width: 100%;
height: 3rem;
margin-left: 5em;
background: transparent;
border-color:#3399ff;
color: #3399ff;


}

/* ------------------------------- */

/* CSS specific for check-out.html */
/* styles for the hole page*/

/*............................*/
/*............................*/




/* repeated the Template for all the pages */

/*   .thirdbox{
      display: flex;
      justify-content: space-around;
  
}
.content{
  width: 95%;
  height: 52rem;
  margin: 1em;
  padding: 0.2em 2em;
  text-align: center;
  flex-direction: column;
  border:  #3399ff solid 0.09em;

}
.content a, h2 {
  color: #3399ff;
  text-align: center;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;




}
hr {
  width: 70%;
  border: #3399ff solid 0.5px;
  
} 
/*...............................*/
/*...............................*/
 */


/* styles for the text */

.text{
  font-size: 6px;
  text-align: center;
  margin-top:.5rem;
  margin-bottom: 0;
  color:rgb(6, 180, 238);
  text-transform: uppercase;
}
.new{
  font-size: 4px;
  margin-top: .5rem;
}
.text2{
  margin-top: 7em;
}
.text-1{
  font-size: 5px;
  margin-top: 6em;
}
/*.......................*/
/*........................ */




/* styles for buttons*/
.btn{

  background-color: white;
  border: -1px;
  border:.5px solid lightseagreen;
  color: rgb(6, 180, 238);
  font-size:6px;
  margin-left:3em;
  margin-top: 1em;
  padding: .2rem;
  text-transform: uppercase;
  width: 100px;
  
}
.btn-1{
font-size: 6px;
color:rgb(6, 180, 238);
}

/* ------------------------------- */
