/* Template for all the pages */
.box {
  display: flex;
  justify-content: space-around;
}

.content {
  width: 95%;
  height: 52rem;
  margin: 1em;
  padding: 0 2em;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  border: #3399ff solid 0.09em;
  font-family: Arial;
}

.header {
  height: 1.6rem;
  text-decoration: none;
  color: #3399ff;
 
}
.header h2 {
  margin-top: 0.2em;
}

hr {
  width: 70%;
  border: #3399ff solid 0.5px;
}
.sub_header {
  color: #3399ff;
  margin-top: 3em;
}
 
.option {
  width: 95%;
  margin-top: 6em;
  height: 40rem;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.default_button {
  width: 30%;
  border: 0.09em solid #3399ff;
  padding: 1em;
  background-color: white;
  color: #3399ff;
  text-decoration: none;
}
.blue_button {
  background-color: #3399ff;
  color: white;
  margin-bottom: 2em;
}

.spaced_button{
  margin-bottom: 2em;
}

/* ------------------------------- */
/* ------------------------------- */

/* CSS specific for home.html */
.pagelink {
  padding: 0;
  width: 100%;
  height: 50rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  color: #3399ff;
  box-sizing: border-box;
}

.head1 {
  width: 100%;
  margin-top: 25em;
  height: 6rem;
  font-size: 3.5rem;
  margin: 0;
}
.head2 {
  font-size: 1.5rem;
}
.head3 {
  font-size: 1rem;
  margin-top: 10em;
}

/* ------------------------------- */



/* CSS specific for Option_selection.html */

/* ------------------------------- */




/* CSS specific for administrator_names.html, student_names.html, staff_names.html, visitor_names.html */

/*student_names*/

.student_button {
  margin-bottom: .5em;
  font-weight: lighter;
}

/* visitor_names */

.form {
  margin-top: 15em;
}

.nameinput {
  width: 25%;
  height: 3em;
  border: none none 1px none;
  color: #3399ff;
  border-collapse: collapse;
  background-color: transparent;
  margin-top: 7em;
  margin-bottom: 3em;
}


.sublink {
  width: 20%;
  padding: 1em;
  text-align: center;
  background-color: #3399ff;
  color: white;
  border: none;
  text-decoration: none;
  
}

/* ------------------------------- */



/* CSS specific for actionselection.html */

/* ------------------------------- */



/* CSS specific for Request dat off.html */

.date_input {
  
  background-color: transparent;
  border: 3em solid #3399ff;
  margin-bottom: 5em;
  padding: .5em 2em;
}

.submit_button {
  width: 15%;
  padding: 1em
}

/* ------------------------------- */



/* CSS specific for Other.html */

.word {
  color: #3399ff;
  margin-top: 3em;
  font-size: 2rem;

}

/* ------------------------------- */



/* CSS specific for check in section.html */

.checkin_title {
  margin-bottom: 0;
  margin-top: 5em;
  color: #3399ff;
  font-weight:normal;
}

.time_button {
  margin-top: 0;
  font-weight:normal;
  margin-bottom: 1em;
}
.check_done {
  width: 15%;
  margin-top: 15em;
}


/* ------------------------------- */



/* CSS specific for check-out.html */
/* styles for the hole page*/

.checkout_title {
  margin-bottom: 0;
  color: #3399ff;
  font-weight:normal;
}

.good_bye {
  color: #3399ff;
  margin-bottom: 7em;
  margin-top: 2em;
  font-weight: normal;
}

.done_button {
  width: 20%;
  margin-bottom: em;
}

/*...............................*/
/*...............................*/


