*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

/*border*/
.border3{ 
    border:#0084ff 1.5px solid;
    width: 1330px ;
   height: 620px;
    margin: 1rem;
    padding: 1rem;
}

/*header*/

.header{
    font-size: 16px;
    color: #0084ff;
    text-align: center;
    margin-top: .5rem;
}
.header::after{
    content: "";
    display: block;
    border: 0.05px solid rgb(4, 149, 233) ;
    width: 300px;
    margin-left: 30rem;
}
.words{
    font-size: 11px;
    margin-left:30rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: #0084ff;
    letter-spacing: 1px;
}

/*buttons*/
.button{
   font-size: 10px;
   border: 1px solid #0084ff ;
   display: block; 
   width: 300px;
   margin-left: 30rem;
   margin-bottom: 2rem;
   color:#0084ff ;
   background-color: white;
   padding: .8rem;
}

/* buttons decoration*/
.clr a{
    text-decoration: none;
    font-size: 12px;
}
 a:visited{
     color:rgb(4, 149, 233) ;
 }
