.border{
    display: flex;
    justify-content: space-around;
}
.contents{
    width: 95%;
    height: 52em;
    margin: 1rem;
    padding: 0.2rem 1em;
    text-align: center;
    flex-direction: column;
    border: #3399ff solid 0.09em;
}
.contents,h2,a{
        color: #3399ff;
        text-align: center;
        align-items: center;
        font-weight: bold;
        text-decoration: none;
}

hr{
    width: 70%;
    border:#3399ff solid 0.5px ;
}

.border2{ 
    width: 35%;
    height: 15em;
    border:#3399ff solid 0.09em;
    justify-content: center;
    margin: 10rem 25rem;
    background-color: #3399ff;
}
.date{
    padding: 4em 6em;
}