/*styling for all the pages*/

.container {
  width: 100%;
  height: 100%;
  margin: 3em auto;
  display: flex;
  justify-content: space-around;
  color: #3399ff;
}

.content {
  width: 90%;
  height: 45rem;
  margin: 2em;
  padding: 0.2em 2em;
  text-align: center;
  border: 0.09em solid #3399ff;
}

.header {
  width: 100%;
}

.header h3 {
  width: 50%;
  height: 0.2rem;
  margin-left: 25%;
}

.backbut {
  width: 10%;
  margin-left: 0;
  margin-top: 0.5em;
}

.backbut a {
  color: #3399ff;
  text-decoration: none;
  margin-top: 0.5em;
}

.backbut a:hover {
  cursor: pointer;
  text-decoration: underline;
}

hr {
  width: 65%;
  border: 0.03em solid #3399ff;
}

/*Styling specific for administrator, student and staff names*/

.option {
  margin-top: 3em;
}

.option ul {
  list-style: none;
  display: flex;
  box-sizing: content-box;
  flex-direction: column;
  align-items: center;
}

.adminbuttons button {
    margin-top: 3em;
    margin-bottom: 2em;
}

.option ul li {
  width: 30%;
  margin-bottom: 0.4em;
}

button {
  width: 100%;
  border: 0.09em solid #3399ff;
  border-radius: 0;
  height: 2.3rem;
  background-color: white;
  color: #3399ff;
}

button:hover {
  cursor: pointer;
}

/* specifically for visitor page*/

.form {
  margin-top: 8em;
}

.nameinput {
  width: 90%;
  height: 3em;
  color: #3399ff;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: transparent;
}

.subbut {
  width: 60%;
  height: 2.5rem;
  background-color: #3399ff;
  color: midnightblue;
  margin-top: 4em;
  border: none;
  box-shadow: lightskyblue 1em 1em 1em;
}

.subbut:hover {
  cursor: pointer;
}
