/*styling for all the pages*/

.container {
  max-width: 900px;
  height: 100%;
  height: 45rem;
  padding: 2em;
  margin: 0 auto;
  font-family: Verdana;
  color: dodgerblue;
}

.sub-container {
  width: 100%;
  height: 100%;
  margin: 3em auto;
  display: flex;
  justify-content: space-around;
  border: 0.2em solid black;
  outline: 0.7em solid black;
  outline-offset: 0.2em;
  box-shadow: inset 0.2em 0.2em 0.5em grey, inset -0.2em -0.2em 0.5em grey;
}

.content {
  width: 90%;
  height: 40rem;
  margin: 2em;
  padding: 0.2em 2em;
  text-align: center;
  border: 0.09em solid dodgerblue;
}

.header {
  width: 80%;
  margin-left: 10%;
  border-bottom: 0.09em solid dodgerblue;
}

.header h3 {
  margin: 0.1em;
}

.backbut {
  width: 10%;
  margin-left: 0;
  margin-top: 0.5em;
  z-index: 1;
}

.backbut a {
  color: dodgerblue;
  text-decoration: none;
  margin-top: 0.5em;
}

.backbut a:hover {
  cursor: pointer;
  text-decoration: underline;
}

/*Styling specific for administrator, student and staff names*/

.option {
  margin-top: 1em;
}

.option ul {
  list-style: none;
  display: flex;
  box-sizing: content-box;
  flex-direction: column;
  align-items: center;
}

.option ul li {
  width: 30%;
  margin-bottom: 0.4em;
}

button {
  width: 100%;
  border: 0.09em solid dodgerblue;
  border-radius: 0;
  height: 2.3rem;
  background-color: white;
  color: dodgerblue;
}

button:hover {
  cursor: pointer;
}

/* specifically for visitor page*/

.form {
  margin-top: 8em;
}

.nameinput {
  width: 90%;
  height: 3em;
  color: dodgerblue;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: transparent;
}

.subbut {
  width: 60%;
  height: 2.5rem;
  background-color: dodgerblue;
  color: midnightblue;
  margin-top: 4em;
  border: none;
  box-shadow: lightskyblue 1em 1em 1em;
}

.subbut:hover {
  cursor: pointer;
}
