/*borders*/
.border{   
     display: flex;
    justify-content: space-around;
}
.content{
    width: 95%;
    height: 52rem;
    padding: 0.2rem 1em;
    margin: 1rem;
    flex-direction: column;
    border: #3399ff solid 0.09em;
    font-family: Arial;
    
}
.fas{
    display: inline-block;
    margin-left: 50px;
    font-size: 40px;
    text-decoration: none;
    color: #3399ff;
}

.kabbee{
    color: #3399ff;
    text-align: center;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
}
hr{
    width: 70%;
    border:#3399ff solid 1px ;
}

/*prossing word*/
.word{
    font-size: 50px;
    color:#3399ff ;
    text-align: center;
    margin: 5em;

}
