*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/*borders*/

.border1{
    scrollbar-shadow-color: rgb(22, 21, 21);
    border: 7px solid black;
    width: 700px;
    height: 500px;
    margin: 20rem;
}

.border2{
    border: 3px solid black;
    width: 680px;
    height: 480px;
    margin: .2rem;
    box-shadow: inset .2em .2em .5em grey, inset .2em .2em .5em gray;
}

.border3{
    border: 1px solid rgb(4, 149, 233);
    width: 600px;
    height: 400px;
    margin: 2.5rem;
}

.border4{
    background: rgb(4, 149, 233);
    border: 1px solid black;
    width: 250px;
    height: 150px;
    margin: 6rem;
    margin-left: 10rem;
    box-shadow: black 7px 7px 7px;

}
/*input date*/
.date{
    margin: 60px;
}

/*submit button*/
.submit{
    margin-left: 40px;
}
a:link{
    color: rgb(4, 149, 233) ;
    text-decoration: none;
}

a:visited{
    color:rgb(3, 3, 48)  ;
}