/*Outside Border*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

.lgborder{
  margin: 1.5rem 2rem 2rem 1.5rem;
  width: 95vw;
  height: 90vh;
  border:#3399ff 1.5px solid;
  overflow: auto;
}
.temp_title{
  text-align: center;
  color:#3399ff;
  margin: 0.5rem 0 0.5rem 0;
  font-family:  Calibri;
  font-size: 1.8em;
  
}
/* template having hr and "please select one option"*/

hr {
  width: 68%;
  margin: 0 20% 0 17%;
  border-color: #3399ff;
  border-top-style: hidden;
  border-width: 0.09em;
}
p{
    text-align: center;
    border-color: #3399ff;
    margin: 2.5% 0 5% 0;
    color: #3399ff;
    font-family:  Calibri;
    font-size: 1.5rem;
}
.temp_title{
  text-align: center;
  color:#3399ff;
}
#contener{
  margin-left: 450px;
  background-color: white;
}
.check{
  margin-top: 1%;
  width: 400px;
  height: 50px;
  border-color: rgb(42, 129, 209);
  border-style: solid;
  background-color: white;
  color: rgb(42, 129, 209);
}