/*Outside Border*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

.lgborder{
  margin: 1.5rem 2rem 2rem 1.5rem;
  width: 95vw;
  height: 90vh;
  border:#3399ff 1.5px solid;
  overflow: auto;
}
/* template having hr and "please select one option"*/

/* template having hr and "please select one option"*/

hr {
  width: 68%;
  margin: 0 20% 0 17%;
  border-color: #3399ff;
  border-top-style: hidden;
  border-width: 0.09em;
}
.temp_title{
  text-align: center;
  color:#3399ff;
  margin: 0.5rem 0 0.5rem 0;
  font-family:  Calibri;
  font-size: 1.8em;
  
}

#contener{
  
  margin-top: 150px;
  background-color: white;
  text-align: center;
}
.time{
  width: 400px;
  height: 50px;
  border-color: rgb(42, 129, 209);
  border-style: solid;
  background-color: white;
  color: rgb(42, 129, 209);
}
.done{
  width: 200px;
  height: 50px;
  border-color: rgb(42, 129, 209);
  border-style: solid;
  background-color: white;
  margin-left: 100px;
  color: rgb(42, 129, 209);
  
}
.text{
  text-align: center;
  margin-bottom: 1px;
  margin-top: 50px;
  color: rgb(42, 129, 209);

}
#have{
  margin-top: 50px;
  margin-bottom: 5px;
  color: rgb(42, 129, 209);

}
#see{ 
  margin-bottom: 60px;
  color: rgb(42, 129, 209);
}