#contener{
    position: absolute;
    margin-left: 450px;
    margin-top: 150px;
    background-color: white;
}
.time{
    width: 400px;
    height: 50px;
    border-color: rgb(42, 129, 209);
    border-style: solid;
    background-color: white;
    color: rgb(42, 129, 209);
}
.done{
    width: 200px;
    height: 50px;
    border-color: rgb(42, 129, 209);
    border-style: solid;
    background-color: white;
    margin-left: 100px;
    color: rgb(42, 129, 209);
    
}
.text{
    margin-bottom: 1px;
    margin-left: 100px;
    margin-top: 50px;
    color: rgb(42, 129, 209);

}
#have{
    margin-top: 50px;
    margin-left: 120px;
    margin-bottom: 5px;
    color: rgb(42, 129, 209);

}
#see{
    margin-top: 0px;
    margin-left: 120px;
    margin-bottom: 60px;
    color: rgb(42, 129, 209);
}