*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lgborder{
  margin: 1.5rem 2rem 2rem 1.5rem;
  width: 95vw;
  height: 90vh;
  border:#3399ff 1.5px solid;
  overflow: auto;
}
a{
  text-decoration: none;
}
.title{
  text-align: center;
  margin-top: 7rem;
  font-family:  Calibri;
  font-size: 3.7rem;
  color: #3399ff;
}
.greeting{
  text-align: center;
  margin-top: 3.5rem;
  color: #3399ff;
  font-family:  Calibri;
  font-size: 2rem;
}
.touch{
  text-align: center;
  margin-top: 6rem;
  color: #3399ff;
  font-size: 1.2rem;
  font-weight: bolder;
  font-family:  Calibri;
}
