/*Outside Border*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lgborder{
  margin: 1.5rem 2rem 2rem 1.5rem;
  width: 95vw;
  height: 90vh;
  border:#3399ff 1.5px solid;
  overflow: auto;
}