/*Outside Border*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lgborder{
  margin: 1.5rem 2rem 2rem 1.5rem;
  width: 95vw;
  height: 90vh;
  border:#3399ff 1.5px solid;
  overflow: auto;
}
/* template having hr and "please select one option"*/

/* template having hr and "please select one option"*/

hr {
  width: 68%;
  margin: 0 20% 0 17%;
  border-color: #3399ff;
  border-top-style: hidden;
  border-width: 0.09em;
}
.temp_title{
  text-align: center;
  color:#3399ff;
  margin: 0.5rem 0 0.5rem 0;
  font-family:  Calibri;
  font-size: 1.8em;
  
}
p{
    text-align: center;
    border-color: #3399ff;
    margin: 2.5% 0 2% 0;
    color: #3399ff;
    font-family:  Calibri;
    font-size: 1.5rem;
}

.achieve{
  width: 400px;
  height: 350px;
  border: 1px solid #3399ff;
  margin: 3.5rem 0 0rem 28rem ;
  text-align: center;
}
progress{
  color: red;
  height: 2rem;
}
