/* Border template */
*{
  margin: 0;
  padding: 0;
  font-family: calibri;
  text-align: center;
  text-decoration: none;
}
/**/
.lgborder{
  margin: 1.5rem 2rem 2rem 1.5rem;
  width: 95vw;
  height: 90vh;
  border:1.5px solid #3399ff ;
  overflow: auto;
  
}

/* template having hr and "select option"*/
hr {
  width: 68%;
  margin: 0 20% 0 17%;
  border-top-style: hidden;
  border-width: 0.09em;
  border-color: #3399ff;
}
.short{
  margin-left: 32.8%;
  width: 35%;
}

.temp_title{
  color:#3399ff;
  margin: 0.5rem 0 0.5rem 0;
  font-size: 1.8em;
}

.pls{   
    margin: 2.5% 0 6% 0;
    color: #3399ff;
    font-size: 1.3rem;
}

.action{
  margin-bottom: 3%;
}

.selection{
  margin-bottom: 4%;
}
  /*Home page */
 
  .title{
    margin-top: 7rem;  
    font-size: 3.7rem;
    color: #3399ff;
  }

  .greeting{  
    margin-top: 3.5rem;
    color: #3399ff;
    font-size: 2rem;
  }

  .touch{   
    margin-top: 6rem;
    color: #3399ff;
    font-size: 1.2rem;
    font-weight: bolder;   
  }
  
  
  /*Selection page */
  .anchor{
    padding: 19px;
    display: block;  
    color:white;
    width: 305px;
    margin-bottom: 25px;
    background-color: #3399ff; 
  }
  .catagory{
    align-items: center;
    padding-left: 37%;
  }
  /*this makes the top content to have fixed position*/
  .sticky{background-color: #fff;
    padding-bottom: 0%;
    margin-bottom: 0%;
    width: auto;
    height: 23%;
    position: sticky;
    top: 0;
  }


  .name{
    display: block; 
    background-color: white !important;
    color: #3399ff;
    border: 1px solid #3399ff;
    width: 310px;
    height: 20px;
    padding-top: 20px;  
    display: inline-block;
    line-height: 1px;
  }
  
  /*Action page*/

  .content
{
   display: block;
   color: #3399ff;
   border: 1px solid #3399ff;
   padding: 4%;
   margin-top: 6%;
}
.data
{
    width: 35%;
    height: 30%;
    margin-left: 33%;
    margin-top: auto;    
}
  /*Checkin and checkout page*/
  .contener{
    
    margin-top: 10%;
    background-color: white;
    text-align: center;
    color: #3399ff;
  }
  .time{
    border: 1px solid #3399ff;
    color: #3399ff;
    font-size: 125%;
  }
  .checkintime{
    margin-bottom: 50%;
    margin-top: 0;
  }
  .checkouttime{
    margin-top: 0;
  }

  .text{
    text-align: center;
    margin-bottom: 1px;
    margin-top: 3rem;
    color: #3399ff;
    
    font-size: 100%;
    padding-left: 25px;
  
  }
  #have{
    margin-top: 6%;
    margin-bottom: 15%;
    color: #3399ff;
    font-size: 100%;
    padding-left: 27px;
  }
  .gap{
    margin-top: 8%;

  }
  #see{ 
    margin-bottom: 60px;
    color: #3399ff;
    font-size: 100%;
    padding-left: 27px;
  }
 
  .button{
    margin-left: 2%;
    border: 1px solid #3399ff;
    color: #3399ff;
    padding: 4% 20% 4% 20%;
    font-weight:500;
    font-size: 165%;

  }
  .larg{
    padding: 15px 8% 15px 8% !important;
  }

  /*Dayoff page*/

/*DATE FORM CSS*/
.dateform{
  padding: 1rem;
  border: 1px solid #3399ff;
  width: 600px;
  height: 320px; 
  margin: 1% 0px 0 25.5%;
}

/*DATE CHOOSER*/
.day{
  margin: 0 100px 27px 100px;
  color: white;
  
}
label{
  text-align: center;
  padding: 0 7% 0 7%;
  color: #3399ff;
  /**background: #3399ff;**/
  
}
.date{
  
  border: 1px solid #3399ff;
  color: #3399ff;
  padding: 10px 20px;
  font-size: 120%;
  margin-left:1%;
  
}

/*Apply btn*/
.apply{  
  text-align: center;
  padding: 8px 22px 8px 22px;
  color: #3399ff;
  border: 1px solid #3399ff;
  font-weight: 600;
  font-size: larger;
}

/*Input fields*/
input{
  
  border-width: 1px;
}

/*Message*/
.enjoy{
  margin-bottom: 60px ;
  color: #3399ff;
  font-size: 1.5rem;
}

  /*Other page*/
.achieve{  
  
  padding: 1rem;
  border: 1px solid #3399ff;
  width: 600px;
  height: 320px; 
  margin: 1% 0px 0 25.5%;
}
progress{
  height: 2.5rem;
}
.bars{
  font-size: large;
}
.fas{
  color: #3399ff;
  position: fixed;
  top: 5.3%;
  left: 4%;
  font-size: 2.8em;
}
.nsubmit{
  display: block;
  text-align: center;
  background-color: #3399ff;
  color:#fff;
  border: none;
  text-decoration: none;
  margin: 5% 10% 5% 38%;
  padding: 2% 0 2% 0;
  width: 25%;
 
}
.nameinput[type="text"]
{
  color: #3399ff;
 font: 15px ,calibri;
  padding: 0px 2px 0px 2px;
  background-color: #3399ff;
  outline: none;
}
.ntext {
  width: 25%;
  height: 3em;
  color: #3399ff;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: transparent;
  margin: 8% 0 3% 0;
 
}
  
  